@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  background-color: #f5f5f5;
  background-image: 
    linear-gradient(90deg, rgba(128, 128, 128, 0.2) 1px, transparent 1px),
    linear-gradient(180deg, rgba(128, 128, 128, 0.2) 1px, transparent 1px);
  background-size: 35px 35px;
  background-position: center;
}

/* Section styling */
.section-container {
  background-color: #D3D3D3;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 1rem;
}

.section-heading {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
  color: #1a1a1a;
}

.section-text {
  color: #374151;
}
